## 1). Create a tuple called data with two values, (1, 2) and (3, 4)

In [1]:
data=((1, 2),(3, 4))
print(data)
type(data)

((1, 2), (3, 4))

tuple

## 2). Create the list [4, 3, 2, 1] and assign it to variable numbers.

In [2]:
numbers = [4, 3, 2, 1]
print(numbers)
type(numbers)

[4, 3, 2, 1]

list

## 3). Create a copy of the number list using [:]

In [10]:
numbers_copy=numbers[:]
numbers_copy

[4, 3, 2, 1]

##  4). Sort the numbers list in numerical order

In [11]:
numbers.sort()
numbers

[1, 2, 3, 4]

## 5). Create a tuple "cardinal_numbers" with "first", "second" and "third"

In [14]:
cardinal_numbers=("first", "second", "third")
cardinal_numbers

('first', 'second', 'third')

## 6). Display the second object in the tuple

In [15]:
cardinal_numbers[1]

'second'

## 7). Unpack the tuple into three strings and display them

In [16]:
first_number, second_number, third_number=cardinal_numbers
print(first_number)
print(second_number)
print(third_number)

first
second
third

## 8). Create a tuple containing the letters of your name from a string

In [6]:
my_name = tuple('jyoti')
my_name

('j', 'y', 'o', 't', 'i')

## 9) Check whether or not x is in my_name

In [8]:
print('x' in my_name)

False

## 10) Check whether or not s is in my_name

In [9]:
print('s' in my_name)

False